#div1
{
    text-align: center; 
    background-color:rgb(19, 224, 47); 
    width: 100%; 
    height: auto;
    border: 5px solid rgb(34, 4, 4);
    border-radius: 10px;
}
.title
{
    color: rgb(231, 240, 232); 
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; 
    align-items: center; 
}
.title1
{
    background: rgb(59, 16, 197);
	color: white; 
    font-weight: bold;
    margin: 10px;
    text-align: center;
}